*{
	margin: 0px; 
	padding: 0px; 
	font-size:14px;
	color:#333;
	font-family:"微软雅黑",Sans-serif; 
	list-style: none;
}
.clear{
	clear: both;
}
.container{
	padding: 30px 0;
}
body{
	min-width: 1200px;
}
/* 头部 */
.header{
	width: 100%;
	height: 62px;
	background-image: url(../images/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 555;
}
.header .container{
	padding: 0;
}
.header_left{
	width: 20%;
	float: left;
	height: 62px;
}
.header_left img{
	margin-top: 12px;
}
.header_nav{
	width: 60%;
	float:left;
	height: 62px;
	padding: 0 40px;
}
.header_nav ul li {
	width: 12.5%;
	float: left;
	height: 62px;
	text-align: center;
	cursor: pointer;
}
.header_nav ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin-top: 27px;
	font-size: 14px;
}
.header_nav ul li a.ticket{
	color:#ebcf75;
	margin-top: 24px;
}
.header_right{
	width: 18%;
	float: left;
	height: 62px;
	padding: 0 20px;
}
.header_right ul li{
	width: 20%;
	float: left;
}
.header_right ul li a{
	display: inline-block;
	height: 62px;
	text-align: center;
	width: 100%;
	text-align: center;
}
.header_right ul li a img{
	width: 15px;
	margin-top: 23px;
}
.en a{
	color: #fff;
	font-weight: bold;
	line-height: 62px;
}



/* banner */
.banner{
	margin-top: 62px;
	width: 100%;
	height: 567px;
	background-image: url(../images/banner2.jpg);
	background-size: cover;
	position: relative;
}
.ticket-btn{
	position: absolute;
	left: 24%;
	bottom: 10%;
	width: 192px;
	height: 48px;
	background-image: url(../images/ticket-btn.jpg);
}
.ticket-btn a{
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 48px;
	margin-left: 40px;
}

/* 大会介绍 */
.general-introduction{
	background: #0a679d;
	z-index: -20;
}
.general-introduction h1{
	font-weight: normal;
	line-height: 100px;
	text-align: center;
	color: #fff;
}
.content{
	margin-bottom:40px;
}
.content p{
	color: #fff;
	line-height: 25px;
	font-size: 16px;
}
.content p:nth-of-type(1){
	margin-bottom: 20px;
}
.content p:nth-of-type(2){
	margin-bottom: 40px;
}
.content ul li {
	float: left;
	width: 16.66%;
	text-align: center;
}
.content ul li img{
	height: 75px;
}
.content ul li p{
	margin-top: 15px;
}


/*演讲嘉宾 */
.speaker,.Agenda,.Registration,.Partner,.accommodation,.previous_review{
	position: relative;
}
.top-line{
	width: 43%;
	height: 2px;
	background: #025884;
	position: absolute;
	top: 100px;
}
.top-line:nth-of-type(1){
	left: 0;
}
.top-line:nth-of-type(2){
	right: 0;
}
.speaker h1,.Agenda h1,.Registration h1,.Partner h1,.accommodation h1,.previous_review h1{
	font-weight: normal;
	line-height: 100px;
	text-align: center;
	color: #025884;
}
.speaker-content-top {
	width: 100%;
	height: 30px;
}
.speaker-content-top ul li{
	float: left;
	width: 14.2%;
	text-align: center;
	border-bottom: 2px solid #eceef4 ;
	margin-top: -2px;
}
.speaker-content-top ul li a{
	display: inline-block;
	line-height: 30px;
	color:#000;
	text-decoration: none;
	cursor: pointer;
}

.speaker-content-bottom{
	margin-top: 2px;
}

.speaker-content-bottom ul li {
	float: left;
	width: 20%;
	text-align: center;
	padding-top: 60px;
	padding: 60px 10px 0px;
	min-height: 350px;
}
.speakers_name h3{
	color: #183249;
	font-weight: bold;
}
.speakers_name p{
	color: #183249;
	font-weight: bold;
}
.speakers_name a{
	text-decoration: underline;
	color: #183249;
	border: none !important;
	background: none !important;
}
.speakers_name button{
	color: #183249;
	text-decoration: underline;
	background: none;
	border: none;
	font-size: 14px;
	outline: none !important;
}
.speakers_name button:hover{
	background: none;
	color: #183249;
	text-decoration: underline;
}
.speakerTit_bg a,.AgendaTit_bg a, .active a{
	color: #0a679d !important;
	border-bottom: 2px solid #0a679d !important;
}
.modal-header{
	background: #5a9bd5;
	height: 50px;
}
.modal-header button img{
	width: 20px;
}
.modal-header button.close{
	opacity: 1;
}
.jiaruhezuo{
	font-size: 18px !important;
	text-decoration: none !important;
	color: #b0b1b1 !important;
	font-weight: bold !important;
	background: none !important;
	border: none !important;
	border-color: rgba(0,3,51,0.1) !important;
}
.jiaruhezuo:hover{
	background: none !important;
	border: none !important;
}

@media (min-width: 768px){
	.modal-dialog {
	    width: 750px !important;
	    margin: 30px auto;
	}
	.myModal_becomejiabin .modal-dialog{
		width: 500px !important;
	}
}
.myModal_becomejiabin .modal-dialog h3{
	margin-top: 0 !important;
	font-weight: bold;
	margin-bottom: 15px;
}
.myModal_becomejiabin .modal-dialog p{
	text-align: left;
	font-size: 15px;
	line-height: 25px;

}
.myModal_becomejiabin .modal-dialog h5{
	font-size: 17px;
	color: #0084ea;
	margin: 10px auto 20px !important;
}
.myModal_becomejiabin .modal-dialog h4{
	text-align: left;
	font-weight: bold;
}
.modal-body img{
	width: 200px;
}
.becomejiabin{
	width: 60px !important;
	margin-top: 50px;
}
.modal-body p:nth-of-type(2),.modal-body p:nth-of-type(4),.modal-body p:nth-of-type(3),.modal-body p:nth-of-type(5){
	text-align: justify;
}
.modal-body img.arrow_bottom{
	width: 30px;
}
/* 会议日程 */
.Agenda{
	background: #f2f0f0;
}
.Agenda-bottom{
	margin-top: 2px;
}
.Agenda-bottom table{
	width: 90%;
	margin-top: 50px;
	margin-left: 50px;
}
.Agenda-bottom tr td:nth-of-type(1){
	width: 20%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(3){
	width: 60%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(2){
	width: 20%;
	text-align: center;
	position: relative;
}
.Agenda-bottom tr td:nth-of-type(1) ul li {
	position: absolute;
	right: 0;
}
.agenda_one_left li:nth-of-type(1){
	top: 0px;
}
.agenda_one_left li:nth-of-type(2){
	top: 64px;
}
.agenda_one_left li:nth-of-type(3){
	top: 130px;
}
.agenda_one_left li:nth-of-type(4){
	top: 203px;
}
.agenda_one_left li:nth-of-type(5){
	top: 286px;
}
.agenda_one_left li:nth-of-type(6){
	top: 368px;
}
.agenda_one_left li:nth-of-type(7){
	top: 495px;
}
.agenda_one_left li:nth-of-type(8){
	top: 554px;
}
.agenda_one_left li:nth-of-type(9){
	top: 626px;
}
.agenda_one_left li:nth-of-type(10){
	top: 911px;

}
.agenda_one_left li:nth-of-type(11){
	top: 438px;
}
.Agenda-bottom tr td:nth-of-type(3) ul li {
	position: absolute;
	left: 0;
	text-align: left;
}
.Agenda-bottom tr td:nth-of-type(3) ul li span,.agenda_one_right li:nth-of-type(10) ul li span{
	
	line-height: 35px;
}
.agenda_one_right li:nth-of-type(1){
	top: 0px;
}
.agenda_one_right li:nth-of-type(2){
	top: 64px;
}
.agenda_one_right li:nth-of-type(3){
	top: 121px;
}
.agenda_one_right li:nth-of-type(4){
	top: 194px;
}
.agenda_one_right li:nth-of-type(5){
	top: 278px;
}
.agenda_one_right li:nth-of-type(6){
	top: 360px;
}
.agenda_one_right li:nth-of-type(7){
	top: 495px;
}
.agenda_one_right li:nth-of-type(8){
	top: 554px;
}
.agenda_one_right li:nth-of-type(9){
	top: 626px;
}
.agenda_one_right li:nth-of-type(10){
	top: 660px;

}


.agenda_one_left_R li:nth-of-type(1){
	top: 7px;
}
.agenda_one_left_R li:nth-of-type(2){
	top: 86px;
}
.agenda_one_left_R li:nth-of-type(3){
	top: 209px;
}
.agenda_one_left_R li:nth-of-type(4){
	top: 264px;
	color: #000 ;
	font-weight: normal;
}
.agenda_one_left_R li:nth-of-type(5){
	top: 343px;
}
.agenda_one_left_R li:nth-of-type(6){
	top: 439px;
}
.agenda_one_left_R li:nth-of-type(7){
	top: 537px;
}
.agenda_one_left_R li:nth-of-type(8){
	top: 852px;
}



.agenda_one_right_R li:nth-of-type(1){
	top: 0px;
}
.agenda_one_right_R li:nth-of-type(2){
	top: 78px;
}
.agenda_one_right_R li:nth-of-type(3){
	top: 207px;
}
.agenda_one_right_R li:nth-of-type(4){
	top: 255px;

}
.agenda_one_right_R li:nth-of-type(5){
	top: 334px;
}
.agenda_one_right_R li:nth-of-type(6){
	top: 433px;
}
.agenda_one_right_R li:nth-of-type(7){
	top: 529px;
}
.agenda_one_right_R li:nth-of-type(8){
	top: 842px;
}
.agenda_one_left li:nth-of-type(2),.agenda_one_left li:nth-of-type(4),.agenda_one_left li:nth-of-type(5),.agenda_one_left li:nth-of-type(6),.agenda_one_left li:nth-of-type(8),.agenda_one_left li:nth-of-type(9),.agenda_one_left li:nth-of-type(7),.agenda_one_right li:nth-of-type(2),.agenda_one_right li:nth-of-type(4) span:nth-of-type(1),.agenda_one_right li:nth-of-type(5) span:nth-of-type(1),.agenda_one_right li:nth-of-type(6) span:nth-of-type(1),.agenda_one_right li:nth-of-type(7),.agenda_one_right li:nth-of-type(8),.agenda_one_right li:nth-of-type(9),.agenda_one_left_R li,.agenda_one_right_R li:nth-of-type(1) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(2) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(3),.agenda_one_right_R li:nth-of-type(5) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(6) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(7) span:nth-of-type(1),.agenda_one_right_R li:nth-of-type(8) span:nth-of-type(1){
	font-weight: bold;
	color: #00bcd5;
}
/* 注册报名 */
.Registration_content p{
	width: 100%;
	text-align: center;
	color: #025884;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}
.Registration_table{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.Registration_table thead tr td{
	line-height: 50px;
	font-size:25px;
	color: #fff; 
	background: #76d0f2;
	text-align: center;
	width: 25%;
}
.Registration_table thead tr td:nth-of-type(2){
	background: #50c4f0;
}
.Registration_table thead tr td:nth-of-type(3){
	background: #01aded;
}
.Registration_table thead tr td:nth-of-type(4){
	background: #0797cc;
}
.Registration_table tfoot tr td:nth-of-type(2){
	background: #f6f5f5;
}
.Registration_table tfoot tr td:nth-of-type(3){
	background: #eeeeee;
}
.Registration_table tfoot tr td:nth-of-type(4){
	background: #e9e7e7;
}
.Registration_table tfoot tr:nth-of-type(1){
	line-height: 50px;
	color: #8f8f91;
	font-size: 16px;
}
.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1) p,.Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1) p{
	font-size: 16px;
	color:  #8f8f91;
	font-weight: normal;
	margin: 0;
}	
.Registration_table tfoot tr:nth-of-type(2) td:nth-of-type(1),.Registration_table tfoot tr:nth-of-type(3) td:nth-of-type(1){
	padding: 10px 0;
}
.Registration_table tfoot tr:nth-of-type(2) td,.Registration_table tfoot tr:nth-of-type(3) td{
	color: #6d6d70;
	font-size: 30px;
	font-weight: bold;
}
.Registration_table tfoot tr:nth-of-type(3){
	padding-bottom: 20px;
}
.Registration_table+p{
	font-size: 16px;
	color: #8f8f91;
	line-height: 25px;
	font-weight: normal;
}
.Registration_table_contact,.Registration_table_contact2{
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
}
.Registration_table_contact tr:nth-of-type(1){
	color: #131313;
	line-height: 100px;
}
.Registration_table_contact tr td{
	line-height:25px;
	color: #1a1a1a;
	font-weight: 600;
	font-size: 16px;
}
.Registration_table_contact tr:nth-of-type(2){
	margin-bottom: 15px;
}
.Registration_table_contact tr:nth-of-type(1) td{
	width: 33%;
}
.Registration_table_contact tr:nth-of-type(1) td:nth-of-type(1){
	text-align: right;
}

.Registration_table_contact2 tr td:nth-of-type(1){
	width: 40%;
	text-align: right;
}
.Registration_table_contact2 tr td{
	line-height: 25px;
	font-size: 16px;
}

/*合作伙伴 */
.Partner_content{
	width: 100%;
}
.Partner_content h3{
	text-align: center;
	color: #2093ed;
	font-weight: normal;
}
.Partner_content ul li{
	width: 20%;
	overflow: hidden;
	height:85px;
	float: left; 
	text-align: center;
}
.Partner_content ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.Partner_content ul li a img{
	margin: 0 auto;
}
.Partner_content ul li.partner_Popup .speakers_name img{
	width: 25px !important;
	margin-top: 13px;
}
.myModal_becomejiabin .partner-modal-dialog h3{
	color: #333;
}
.myModal_becomejiabin .partner-modal-dialog h3+p{
	color: #309bee;
	text-align: center;
	font-size: 16px;
}
.myModal_becomejiabin .partner-modal-dialog h4{
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}
.myModal_becomejiabin .partner-modal-dialog h4+ul li{
	float: none;
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: left;
}
.myModal_becomejiabin .partner-modal-dialog h4+ul li span{
	border: 2px solid #00a0e9;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #00a0e9;
	margin-right: 5px;
}

/* 场地住宿 */
.accommodation{
	background: #f9f8f8;
}
.accommodation_content h3{
	color: #50638b;
}
.accommodation_content h3+p{
	color: #6d6d6e;
	font-size: 16px;
	line-height: 30px;
}
.accommodation_content_md h4{
	color: #5b5b5b;
}
.accommodation_content_md h4:nth-of-type(3){
	margin-top: 30px;
}
.accommodation_content_botm img{
	float: left;
	margin-right: 20px;
}
.accommodation_content_md div.maps_box{
	overflow: hidden;
	text-align: center;
	margin: 0;
	padding:0;
}
.accommodation_content_botm .accommodation_hotel_name{
	margin-bottom: 5px;
	margin-top: 5px;
}
.accommodation_content_botm .accommodation_hotel_name+p{
	margin-bottom: 40px;
}
.accommodation_content_botm .accommodation_hotel_name a{
	font-size: 18px;
	text-decoration: underline;
	color: #1c1c1c;
}
/* 往期回顾 */
.previous_review{
	background-image: url(../images/previous_review_bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.previous_review .top-line{
	background:#fff;
}
.previous_review h1{
	color: #fff;
}
.previous_review_lunbo a:nth-of-type(1){
	opacity: 0; 
	visibility: hidden;
}
.previous_review_lunbo a:nth-of-type(2){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(-350px) translateZ(-200px) rotateY(45deg);
}
.previous_review_lunbo a:nth-of-type(3){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(0px) translateZ(0px) rotateY(0deg);
}
.previous_review_lunbo a:nth-of-type(4){
	opacity: 1; 
	visibility: visible; 
	transform: translateX(350px) translateZ(-200px) rotateY(-45deg);
                            
}
.previous_review_lunbo a:nth-of-type(5){
	opacity: 0; 
	visibility: hidden; 
	transform: translateX(450px) translateZ(-300px) rotateY(-45deg);
                            
}
.previous_review_botm p,.previous_review_botm .accommodation_hotel_name a{
	color: #fff;
}
.previous_review_botm .accommodation_hotel_name a{
	font-size: 14px;
	text-decoration: none;
}
.previous_review_botm{
	padding:0 80px;
}
.previous_review_boxs{
	padding-top: 0;
	margin-top: 30px;
}
.previous_review_line{
	top: 70px;
}
/* footer */
footer{
	background:#242424;
	
}
footer div{
	color: #fff;
}
/* 返回顶部&关注 */
#return-top {
    width: 45px;
    height: 45px;
    background-image: url(../images/new-return-top.png);
    position: fixed;
    right: 30px;
    bottom: 205px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}
#weixin {
    width: 45px;
    height: 45px;
    background-image: url(../images/new-weixin.png);
    position: fixed;
    right: 30px;
    bottom: 160px;
    background-repeat: no-repeat;
}
#weixin .erweima {
    position: fixed;
    width: 222px;
    height: 475px;
    right: 80px;
    bottom: 160px;
    background-image: url(../images/erweima.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}